@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Noto+Sans+Display:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Noto+Serif:wght@400;500;600;700&display=swap');

@layer utilities {
  .shadow-custom {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .bg-Green {
    background-color: #827127;
  }
  .bg-Red {
    background-color: #F73D38;
  }
  .bg-Red1 {
    background-color: #f8504c;
  }
  .text-Blue {
    color: #264795;
  }
  .text-Red {
    color: #F73D38;
  }
  .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
  }
  .font-noto-sans-display {
    font-family: 'Noto Sans Display', sans-serif;
  }
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-noto-serif {
    font-family: 'Noto Serif', serif;
  }
}
