@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

@layer utilities {
  .shadow-custom {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  }
  .bg-Green {
    background-color: #827127;
  }
  .text-Green {
    color: #827127;  /* For text color */
  }
  .font-roboto-condensed {
    font-family: 'Roboto Condensed', sans-serif;
  }
}
